<div class="center" *ngIf="basket">
    <div class="center" *ngIf="basket.basketDetails.length === 0">
        <h3>C'est vide !</h3>
        <p>Il est temps de remplir ce panier</p>
    </div>

    <div *ngIf="basket.basketDetails.length > 0" class="list-container">
        <div *ngFor="let element of basket.basketDetails; let indexOfelement=index;" class="item-container">
            <img class="item-img" src="{{element.product.image}}" alt="">
            <div>
                {{element.product.name}}
            </div>
            <div> {{element.product.price}}€ </div>
            <div class="item-quantity">
                <button class="button" (click)="decrementQuantity(element.id, indexOfelement)">-</button>
                <div>
                    x{{element.quantity}}
                </div>
                <button class="button" (click)="incrementQuantity(element.id, indexOfelement)">+</button>
            </div>
            <div class="action-container">
                <div class="action-box" [routerLink]="'/product/' + element.id">
                    <i-bs class="eye" name="eye" width="32" height="32"></i-bs>
                </div>
                <div class="action-box" (click)="removeProduct(element.id, indexOfelement)">
                    <i-bs class="trash" name="trash" width="32" height="32"></i-bs>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <div>
            Total du panier : {{total}}€
        </div>
        <div class="sum-div">
            <button class="btn btn-success" [disabled]="basket.basketDetails.length === 0 || !isBasketValid">Passer commande</button>
        </div>
        <div class="error" *ngIf="isBasketValid === false">
            <p>Tous les articles ne sont pas disponibles !</p>
        </div>
    </div>
</div>